.game_options_wrapper {
  margin: 4px;
}

.game_purchase_wrapper {
  background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
  padding: 16px;
  padding-bottom: 26px;
  margin-bottom: 28px;
  border-radius: 4px;
}

.game_purchase_wrapper h1 {
  color: #fff;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 21px;
}

.game_purchase {

}

.game_purchase_data {
  background: #000;
  display: inline-block;
  height: 32px;
  border-radius: 2px;
}

.game_purchase_subtitle {
  color: #7cb8e4;
}

.discount_pct_amount {
  color: #a4d007;
  background: #4c6b22;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  padding: 2px 2px;
}

.prices {
  display: inline-block;
}

.original_price {
  color:#626366;
  text-decoration: line-through;
  font-size: 11px;
}

.discounted_price {
  color: #acdbf5;
  font-size: 15px;
}

.green_btn  {
  background: #6fa720;
  display: inline-block;
  height: 32px;
  text-align: center;
  position: absolute;
  border-radius: 2px;
}

.green_btn span {
  color: #d2efa9;
  font-size: 15px;
  text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
}

.bundle_info {
  color: #8f98a0;
}

a {
  padding: 0;
  text-decoration: none;
}